<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- Enable responsive viewport -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="baidu-site-verification" content="2XMQAJIGe2" />
	<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
	<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
	{% if site.model == 'pub' %}
		<link rel="stylesheet" href="{{ site.pub.css }}monokai.css">
		<link rel="stylesheet" href="{{ site.pub.css }}bootstrap.min.css">
		<link rel="stylesheet" href="{{ site.pub.css }}bootstrap-theme.min.css">
		<link rel="stylesheet" href="{{ site.pub.css }}all.css">
		<link rel="stylesheet" href="{{ site.pub.css}}font-awesome.min.css"/>
	{% else %}
		<link rel="stylesheet" href="{{ site.dev.css }}monokai.css">
		<link rel="stylesheet" href="{{ site.dev.css }}bootstrap.min.css">
		<link rel="stylesheet" href="{{ site.dev.css }}bootstrap-theme.min.css">
		<link rel="stylesheet" href="{{ site.dev.css }}all.css">
		<link rel="stylesheet" href="{{ site.dev.css }}font-awesome.min.css"/>
	{% endif %}
	<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
	{% if site.model == 'pub' %}
		<link rel="icon" href="{{ site.pub.image }}favicon.ico" type="image/x-icon">
	{% else %}
		<link rel="icon" href="{{ site.dev.image }}favicon.ico" type="image/x-icon">
	{% endif %}
</head>
